.nav-item {
  margin-left: 50px !important; /* Se $spacer fosse 16px, então 16px * 0.25 = 4px */
  font-size: 32px;
}
.container-fluid {
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.9) 0%, rgba(0, 0, 0, 1) 100%) !important;
  color: white;
}

/* Quando você usa !important, a regra marcada como tal tem a prioridade máxima e sobrescreve qualquer outra regra, independentemente da especificidade ou da ordem. */