.nav-item {
  margin-left: 50px !important; /* Se $spacer fosse 16px, então 16px * 0.25 = 4px */
  font-size: 32px;
}
.container-fluid {
  background: linear-gradient(180deg, #E0F0FF 0%, #B0C4DE 100%) !important;
  color: black;
}
.container{
  background: linear-gradient(180deg, #E0F0FF 0%, #B0C4DE 100%)!important;
}
a{
    color: inherit; /* Herda a cor do elemento pai */
    text-decoration: none; /* Remove o sublinhado */
    background: none; /* Remove qualquer fundo */
    font-family:Arial, Helvetica, sans-serif;
  }
a:hover{
    color: blue;
    
  }



/* Quando você usa !important, a regra marcada como tal tem a prioridade máxima e sobrescreve qualquer outra regra, independentemente da especificidade ou da ordem. */