@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    padding:0;
    margin: 0;
    width: 100%;
}
*{
    font-family: "Noto Serif", serif;
    text-shadow:  1px 1px 2px black,;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: crimson;
    text-shadow: #ccc 1px 0 10px;
}
.container-fluid{
    width: 100%;
    height: 33%;
    margin:0
}
.container{
    margin:0 auto;
    
}
.row{
    display:flex;
    justify-content: center;
}
.col{
    
    align-items: center;
}
.bg1{
    background-color: grey;
}
.bg2{
    background-color: darkgray;
}
.bg3{
    background-color: gray;
}