@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Sacramento&family=Sevillana&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&family=Sevillana&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Classe de plano de funto para o html */
.bg1{
    /* usar o (..) dentro de um url faz o caminho para pastas */
    background-image: url("../img/rose-6954137_1920.jpg");
    background-position: center;
}
.paragrafo{
    font-family:"Sacramento", cursive;
    
    color:white;
}
.titulo{
    font-family:"Shantell Sans", cursive; 
    color:white;

   
}
.poesia{
    font-family:"Podkova", serif;
    color:white;

}